.sg-text__dropbtn {
  padding: 8px 16px;
  cursor: pointer;
}

.sg-text__icon-dropdown {
  position: relative;
  display: inline-block;
}

.sg-text__icon-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.sg-text__icon-dropdown .sg-text__open-right .sg-text__icon-dropdown-content {
  display: block;
  right: 0;
}

.sg-text__dropdown-item {
  padding: 8px 16px;
  cursor: pointer;
}

.sg-text__dropdown-item:hover {
  background-color: #f1f1f1;
}

/* Specific styles for each type */
.sg-text__normal {
  font-weight: normal;
}

.sg-text__paragraph {
  font-size: 14px;
}

.sg-text__heading1 {
  font-size: 20px;
  font-weight: bold;
}

.sg-text__heading2 {
  font-size: 16px;
  font-weight: bold;
}

.sg-text__heading3 {
  font-size: 14px;
  font-weight: bold;
}

.sg-text__heading4 {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}

.sg-text__title {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
}

.sg-text__subtitle {
  font-size: 14px;
}

.sg-text__strong {
    font-size: 12px;
    font-weight: bold;
}

.sg-text__book-title {
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
}

