:root {
  /* Color variables */
  --sg-text-primary-bg: white;
  --sg-text-primary-color: gray;
  --sg-text-primary-textColor: black;
  --sg-text-hover-bg: black;
  --sg-text-hover-color: black;
  --sg-text-border-color: black;
  --sg-text-border-hover-color: rgb(185, 183, 183);
  --sg-text-cancel-border-hover: red;
  --sg-text-overlay-bg: #00000080;
  --sg-text-container-bg: #f0f0f0;
  --sg-text-common-padding: 6px 10px;
  --sg-text-common-hover-padding: 8px 12px;
  /* Box shadow variable */
  --sg-text-box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.4);
}

/* 
 ======================================== 
 BUTTONS
 ========================================
 */
/* General button styles */
.sg-text__button {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  margin: 2px;
  border: 2px solid var(--sg-text-border-color);
}

/* Primary button styles */
.sg-text__button-primary {
  background: var(--sg-text-primary-bg);
  color: var(--sg-text-primary-color);
}

.sg-text__button-primary:hover {
  color: var(--sg-text-hover-color);
  box-shadow: var(--sg-text-box-shadow);
}

/* Cancel button styles */
.sg-text__button-cancel {
  background: var(--sg-text-primary-bg);
  color: var(--sg-text-primary-color);
}

.sg-text__button-cancel:hover {
  border: 2px solid var(--sg-text-cancel-border-hover);
  color: var(--sg-text-hover-color);
  box-shadow: var(--sg-text-box-shadow);
}

.sg-text__toolbarBtn {
  padding: 0;
  margin: 0;
}

.sg-text__toolbarBtnDiv {
  display: grid;
  padding: 2px;
  text-align: center;
  align-items: center;
  background-color: white;
  border: none;
  cursor: pointer;
}

.sg-text__toolbarBtnDiv:hover {
  padding: 0px;
  padding: 2px;
  border-radius: 4px;
}

.sg-text__toolbarBtnDiv.active {
  padding: 0px;
  border: 2px solid var(--sg-text-border-hover-color);
  border-radius: 2px;
  background-color: #ddd; /* Highlighted background color */
  border: 1px solid #333; /* Highlighted border */
}

/* 
 ======================================== 
 DROPDOWN
 ========================================
 */
.sg-text__icon-dropdown {
  position: relative;
  display: inline-block;
}

.sg-text__icon-dropdown select {
  display: none;
  /* Hide the native select element */
}

.sg-text__icon-dropdown .sg-text__dropbtn {
  display: inline-block;
  color: var(--sg-text-primary-textColor);
  text-align: center;
  padding: var(--sg-text-common-padding);
  text-decoration: none;
  background-color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.sg-text__icon-dropdown .sg-text__dropbtn:hover,
.sg-text__icon-dropdown:hover .sg-text__dropbtn {
  background-color: #f1f1f1;
  border-radius: 4px;
}

.sg-text__icon-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  padding-top: 4px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.sg-text__2);
  z-index: 1;
}

.sg-text__icon-dropdown-content .sg-text__dropdown-item {
  color: black;
  padding: var(--sg-text-common-padding);
  font-size: 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.sg-text__icon-dropdown-content .sg-text__dropdown-item:hover {
  padding: var(--sg-text-common-hover-padding);
  background-color: #f1f1f1;
  font-size: 12px;
  border: 2px solid var(--sg-text-border-hover-color);
  border-radius: 4px;
}

.sg-text__icon-dropdown:hover .sg-text__icon-dropdown-content {
  display: block;
}

.sg-text__icon-dropdown.open-right .sg-text__icon-dropdown-content {
  margin-left: 8px;
  left: 100%;
  top: 0;
}

/* 
 ======================================== 
 TOOLTIP
 ========================================
*/
.sg-text__tooltip-container {
  position: relative;
  display: inline-block;
}

.sg-text__tooltip {
  height: auto;
  background-color: black;
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 4px 6px;
  border-radius: 4px;
  position: absolute;
  z-index: 20;
  top: -40%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  display: none;
  transition: opacity 0.3s;
}

.sg-text__tooltip-container:hover .sg-text__tooltip {
  opacity: 1;
  display: block;
}

/* 
 ======================================== 
 DIALOG
 ========================================
 */
/* Dialog overlay */
.sg-text__dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--sg-text-overlay-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Dialog container */
.sg-text__dialog-container {
  background: var(--sg-text-primary-bg);
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--sg-text-box-shadow);
  width: 400px;
  max-width: 100%;
  z-index: 1001;
}

/* Dialog header */
.sg-text__dialog-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Dialog body */
.sg-text__dialog-body {
  margin-bottom: 20px;
  font-size: 16px;
}

/* Dialog footer */
.sg-text__dialog-footer {
  text-align: right;
}

/* Close button */
.sg-text__close-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* General container styles */
.sg-text__container {
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  background-color: var(--sg-text-container-bg);
}

/* Image URL input */
.sg-text__container .sg-text__image-url-input {
  width: 90%;
  padding: 12px 16px;
  border-radius: 6px;
  font-family: inherit;
  border: 1px solid #ccc;
}

/* OR divider */
.sg-text__container .sg-text__or-divider {
  margin: 10px;
}

/* Hide default file input */
#file-input {
  display: none;
}

/* Focus styles for form inputs */
.sg-text__form-group input:focus {
  outline: none;
  border-color: #1778f2;
}

/* Custom file input label */
.sg-text__custom-file-input {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  background: var(--sg-text-primary-bg);
  color: var(--sg-text-primary-color);
  border: 2px solid var(--sg-text-border-color);
  border-radius: 4px;
  transition: all 0.3s ease;
}

.sg-text__custom-file-input:hover {
  color: var(--sg-text-hover-color);
  box-shadow: var(--sg-text-box-shadow);
}

/* File info display */
.sg-text__file-info {
  margin-top: 10px;
  font-size: 14px;
}

/* File remove button */
.sg-text__file-remove {
  margin-left: 10px;
  cursor: pointer;
  color: red;
}

/* 
 ======================================== 
 TOOLBAR SWITCH
 ========================================
 */
.sg-text__toolbar-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-start: 10px;
  font-size: 14px;
  background-color: var(--sg-text-primary-bg);
  border: 2px solid transparent;
  border-radius: 4px;
  padding: var(--sg-text-common-padding);
  cursor: pointer;
}


.sg-text__toolbar-switch label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--sg-text-primary-textColor);
}

.sg-text__toolbar-switch input[type="checkbox"] {
  margin-right: 8px;
  cursor: pointer;
}

.sg-text__toolbar-switch:hover {
  background-color: #f1f1f1;
  border-color: var(--sg-text-border-hover-color);
}

.sg-text__toolbar-switch:active {
  box-shadow: none;
}